/* Migration Modal */
#migrationTool {
    display: none;
}

.migration-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1100;
    background-color: #2f3d45;
}

/* Loader for migration tool while waiting on user address from redux store */
.migration-loader {
    position: fixed;
    left: 50%;
    top: 50%;
    font-size: 7.5em;
}

.modal-dialog {
    width: 80% !important;
}

/* Make modal scrollable */
.modal-body {
    max-height: calc(100vh - 250px);
    overflow-y: auto;
}

.migrate-tool-footer {
    padding: 7px;
}


/* For Black Theme */
/* Scrollbar for ms*/
select::-webkit-scrollbar,
.scroll::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

select::-webkit-scrollbar-track,
.scroll::-webkit-scrollbar-track {
    background: #15232c;
}

select::-webkit-scrollbar-thumb,
.scroll::-webkit-scrollbar-thumb {
    background-color: #233540;
    border: 1px solid #233540;
    transition: all 0.2s ease-out;
}

select::-webkit-scrollbar-thumb:hover,
.scroll::-webkit-scrollbar-thumb:hover {
    background-color: #445661;
}

/* Scrollbar for modal-body */
.modal-body::-webkit-scrollbar,
.scroll::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.modal-body::-webkit-scrollbar-track,
.scroll::-webkit-scrollbar-track {
    background: #15232c;
}

.modal-body::-webkit-scrollbar-thumb,
.scroll::-webkit-scrollbar-thumb {
    background-color: #233540;
    border: 1px solid #233540;
    transition: all 0.2s ease-out;
}

.modal-body::-webkit-scrollbar-thumb:hover,
.scroll::-webkit-scrollbar-thumb:hover {
    background-color: #445661;
}

/* Select */
.migrate-ms {
    overflow-y: auto;
    overflow-x: auto;
}

.ms-buttons {
    margin-top: 50px;
}


/* Token address */
#new-token-addr-input {
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

@media only screen and (max-width: 667px)  {
    #new-token-addr-input  {
        width: auto !important;
    }
}


/* Responsive */
@media only screen and (max-width: 490px) {
    .migration-container {
        display: block !important;
    }
}

@media only screen and (max-width: 667px)  {
    .modal-dialog {
        width: auto !important;
    }
}

@media only screen and (max-width: 767px) {
    .modal-dialog {
        width: auto !important;
    }

    .ms-buttons {
        text-align: center;
        margin-top:2%;
        margin-bottom: 2%;
    }

    .ms-buttons button{
        display: inline-block;
        width: 10%;
        transform: rotate(90deg);
        margin-top: 0px !important;
    }
}
